@media(max-width:1000px){
  top-wrapper h1{
    font-size:32px;
  }

  .lesson{
    width:50%;
  }

  .description{
    padding-bottom:50px;
  }
}

@media(max-width:670px){
.header-right a{
  display:none;
}

header .fa-bars{
  display:block;
}

.top-wrapper h1{
  font-size:24px;
}

.top-wrapper p{
  font-size:14px;
}

.lesson{
  width:100%;
}

.btn{
  width:100%;
}
.facebook{
  margin-bottom:10px;
}
.footer{
  text-align:center;
}
}
